
.qr-code-wrap {  display: flex;  flex-direction: row; }
.qr-code-left { width: 75%;  margin-top: 30px; display: flex;  flex-direction: row; }
.qr-code-left .field--name-field-product-image-up img { width: 100%; }
.qr-code-left .wide-image { width: 100% !important; margin-left: 0 !important; margin-top: 0 !important;}
.qr-code-right { width: 20%; margin-left: 20px;   } 
.qr-content-section-image { width: 25%;  }
.qr-content-section-image .field__label { display: none; }
.qr-content-section {  width: 72%;padding-left: 20px;   }
.page-node-type-product-detail .block-page-title-block { margin-bottom: 0 !important;}
.page-node-type-product-detail  h1.title { font-size: 2.75rem; }
.qr-block-custom-desc { font-size: 14px; margin: 15px 0;}
.qr-product-list-item { display: flex;  flex-direction: row; margin-bottom: 20px;}
.qr-product-list-item .qr-content-section h2 { margin: 0 !important;}